table {
    border-spacing: 0px;
    border-color: grey;
}
table.blueTable {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  width: 1100px;
  text-align: center;
  margin-left: auto; 
  margin-right: auto;
}
table.blueTable td, table.blueTable th {
  border-top-color: rgb(170, 170, 170);
  border-top-style: solid;
  border-top-width: 1px;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
.model {
  font-weight: bold;
  background: #D0E4F5
}